body,
body * {
	margin:          unset;
	box-sizing:      unset;
	padding:         unset;
	font-size:       unset;
	color:           unset;
	text-decoration: unset;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#grid-table{
    border:1px solid black;
}