@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700;800;900&display=swap");
body,
body * {
  margin: unset;
  box-sizing: unset;
  padding: unset;
  font-size: unset;
  color: unset;
  text-decoration: unset;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

.holder {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.canvas {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.settings {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

#grid-table {
  box-shadow: 0 0 3px black;
  width: 400px;
  height: 400px;
  cursor: crosshair;
}
div {
  user-select: none;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 8vh;
  background-color: rgb(0, 39, 105);
  color: antiquewhite;
  font-size: 1.6em;
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5vh;
  background-color: rgb(174, 174, 174);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: flex;
  margin-top: 10px;
  justify-content: space-around;
  align-items: center;
  width: 400px;
}

button {
  background: lightslategrey;
  width: 75px;
  height: 25px;
  border: none;
  color: rgba(255, 255, 255, 0.979);
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}

button:hover {
  box-shadow: 0 0 10px rgba(4, 54, 146, 0.573);
}

.select {
  box-shadow: 0 0 10px rgba(4, 54, 146, 0.573);
}

.slider-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}

.slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 290px;
  height: 14px;
  background-color: rgba(128, 128, 128, 0.571);
  border-radius: 8px;
  margin-top: 5px;
  cursor: pointer;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background-color: rgb(0, 39, 105);
  border: 2px solid black;
  border-radius: 50%;
}

.slider::-moz-slider-thumb {
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  background-color: rgb(0, 39, 105);
  border: 2px solid black;
  border-radius: 50%;
}

.slider::-moz-slider-thumb:hover {
  background-color: orange;
}

.slider-value {
  font-size: 1.5em;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.picker {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.picker::-webkit-color-swatch {
  border-radius: 50%;
  border: none;
  box-shadow: 1px 1px 4px #757575;
}

.picker::-webkit-color-swatch-wrapper {
  padding: 0px;
}

.picker::-moz-color-swatch {
  border-radius: 50%;
  border: none;
  box-shadow: 1px 1px 4px #757575;
}

.picker::-moz-color-swatch-wrapper {
  padding: 0px;
}
